@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --background: #f0f3f4;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

@layer components {
  .tile-base {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}